:root{
    --margin: 20px;
    --background: #11151D;
    --header: #222D41;
    --main: #3c5073;
    --header-shadow: #374158;
    --header-size: 70px;
    --header-nav: #374158;
    --header-nav-not-hover: #37415885;

    --title-size: 50px;
    --main-color: #344462;

    --title-head-size: 60px;
}

/* 7F5056 D76C58 */
/* 
#080a0f
#101620
#192130
#222d41
#2b3952
#344462
#3c5073

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: var(--background);
    font-family: 'Lexend', sans-serif;
    color: #dddddd;
}

header{
    height: calc(100vh - 20px);
    margin: var(--margin);
    filter: drop-shadow(0px 0px 4px var(--header-shadow));
}

header .top{
    height: var(--header-size);
    width: 100%;
    display: flex;
}

header .angle_left{
    left: 0;
    transform: translate(-100%);
    /* box-shadow: 25px 25px 0 0 var(--header); */
    box-shadow: 35px 35px 0 0 var(--header);
}

header .angle_right{
    right: 0;
    transform: translate(100%);
    box-shadow: -35px 35px 0 0 var(--header);
}


header .top div{
    flex: 1;
}

header .top .top_middle{
    flex: 5;
    height: 100%;
    background-color: var(--header);
    border-radius: calc(var(--header-size)/2) calc(var(--header-size)/2) 0px 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .top .top_middle nav{
    margin: calc(var(--header-size)/4);
    flex: 1;
    display: flex;
    justify-content: space-around;
    gap: 12.5px;
    align-items: center;
    border-radius: calc(var(--header-size)/2);
}

header .angle_left, header .angle_right{
    position: absolute;
    top: 0;
    /* background-color: red; */
    height: var(--header-size);
    width: var(--header-size);
    border-radius: calc(var(--header-size)/2);
    z-index: -1;
}

header .top .top_middle .nav{
    flex: 1;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    background-color: var(--header-nav);
    /* background-color: red; */
}

header .top .top_middle nav:has(.nav:hover) .nav:not(:hover) {
    background-color: var(--header-nav-not-hover);
    filter: blur(1px);
}

header .bottom{
    height: calc(100vh - var(--header-size) - calc(var(--margin)*2));
    width: 100%;
    background-color: var(--header);
    border-radius: calc(var(--header-size)/2);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .bottom .title{
    font-size: calc(var(--header-size)*3);
}

@media screen and (max-width: 1024px) {
    header .bottom .title {
        font-size: calc(var(--header-size)*2);
    }
}

@media screen and (max-width: 700px) {
    header .bottom .title {
        font-size: calc(var(--header-size));
    }
}

@keyframes wave {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

header .bottom .title span{
    animation: wave 1s;
    animation-delay: calc(0.1s * var(--i));
    transform: translateX(-100%);
}

/* #Presentation */

#Presentation{
    margin: var(--margin);
    /* background-color: red; */
    height: calc(100vh - calc(var(--margin)*2));
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: calc(var(--header-size)/2);
}

@media screen and (max-width: 1024px) {
    #Presentation {
        flex-direction: column;
        height: auto;
    }
}

#Presentation .right, #Presentation .left {
    margin: var(--margin);
}

#Presentation .right{
    flex: 2;
    display: flex;
    flex-direction: column;
}

#Presentation .right .presentation{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--main-color);
    height: var(--title-size);
    border-radius: calc(var(--title-size)/2) calc(var(--title-size)/2) 0px calc(var(--title-size)/2);
    filter: drop-shadow(0px 0px 4px var(--header-shadow));
}

#Presentation .right .title1, #Presentation .right .title2{
    display: flex;
}

#Presentation .right .title1 .title_application{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--margin);
    margin-right: var(--margin);
    flex: 2;
    height: var(--title-size);
    background-color: var(--main-color);
    border-radius: calc(var(--title-size)/2) calc(var(--title-size)/2) 0px 0px;
    filter: drop-shadow(0px 0px 4px var(--header-shadow));
    position: relative;
}

#Presentation .right .title1 .title_application::before{
    content:'';
    position: absolute;
    width: var(--title-size);
    height: var(--title-size);
    right: 0;
    top: 0;
    transform: translate(100%);
    border-radius: 100%;
    box-shadow: -25px calc(var(--title-size)/2) 0px 0px var(--main-color);
}

#Presentation .right .title1 .empty{
    flex: 1;
    height: var(--title-size);
    background-color: var(--main-color);
    border-radius: 0px 0px calc(var(--title-size)/2) calc(var(--title-size)/2);
    position: relative;
    filter: drop-shadow(0px 0px 4px var(--header-shadow));
}

#Presentation .right .title1 .empty::before{
    content:'';
    position: absolute;
    width: var(--title-size);
    height: var(--title-size);
    left: 0;
    top: 0;
    transform: translate(-100%);
    border-radius: 100%;
    box-shadow: calc(var(--title-size)/2) -25px 0px 0px var(--main-color);
}

#Presentation .right .application{
    flex: 2;
    padding: 20px;
    text-align: justify;
    background-color: var(--main-color);
    border-radius: 0px calc(var(--title-size)/2) calc(var(--title-size)/2) 0px;
    position: relative;
    filter: drop-shadow(0px 0px 4px var(--header-shadow));
}

#Presentation .right .title2 .empty{
    flex: 1;
    height: var(--title-size);
    background-color: var(--main-color);
    border-radius: 0px 0px calc(var(--title-size)/2) calc(var(--title-size)/2);
    position: relative;
    filter: drop-shadow(0px 0px 4px var(--header-shadow));
}

#Presentation .right .title2 .empty::before{
    content:'';
    position: absolute;
    width: var(--title-size);
    height: var(--title-size);
    right: 0;
    top: 0;
    transform: translate(100%);
    border-radius: 100%;
    box-shadow: -25px -25px 0px 0px var(--main-color);
}

#Presentation .right .title2 .title_bot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--margin);
    margin-left: var(--margin);
    flex: 2;
    height: var(--title-size);
    background-color: var(--main-color);
    border-radius: calc(var(--title-size)/2) calc(var(--title-size)/2) 0px 0px;
    position: relative;
    filter: drop-shadow(0px 0px 4px var(--header-shadow));
}

#Presentation .right .title2 .title_bot::before{
    content:'';
    position: absolute;
    width: var(--title-size);
    height: var(--title-size);
    left: 0;
    top: 0;
    transform: translate(-100%);
    border-radius: 100%;
    box-shadow: calc(var(--title-size)/2) calc(var(--title-size)/2) 0px 0px var(--main-color);
}

#Presentation .right .bot{
    flex: 2;
    padding: 20px;
    text-align: justify;
    background-color: var(--main-color);
    border-radius: calc(var(--title-size)/2) 0px calc(var(--title-size)/2) calc(var(--title-size)/2);
    position: relative;
    filter: drop-shadow(0px 0px 4px var(--header-shadow));
}

#Presentation .left{
    flex: 1;
    background-color: var(--main-color);
    border-radius: calc(var(--header-size)/2);
    filter: drop-shadow(0px 0px 4px var(--header-shadow));
}

/* Tarifs */

#Tarifs{
    margin: var(--margin);
    /* background-color: red; */
    min-height: calc(100vh - calc(var(--margin)*2));
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: calc(var(--header-size)/2);
    filter: drop-shadow(0px 0px 4px var(--header-shadow));
}

#Tarifs .top{
    height: var(--title-head-size);
    display: flex;
}

#Tarifs .left, #Tarifs .right{
    flex: 1;
    background-color: var(--header);
    border-radius: calc(var(--title-head-size)/2) calc(var(--title-head-size)/2) 0px 0px;
    position: relative;
}

#Tarifs .left::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    /* background-color: red; */
    width: var(--title-head-size);
    height: var(--title-head-size);
    transform: translateX(100%);
    border-radius: 100%;
    box-shadow: -30px calc(var(--title-head-size)/2) 0px 0px var(--header);
}

#Tarifs .right::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    /* background-color: red; */
    width: var(--title-head-size);
    height: var(--title-head-size);
    transform: translateX(-100%);
    border-radius: 100%;
    box-shadow: calc(var(--title-head-size)/2) calc(var(--title-head-size)/2) 0px 0px var(--header);
}

#Tarifs .middle{
    flex: 3;
    font-size: 40px;
    text-align: center;
}

#Tarifs .bottom{
    height: calc(100% - var(--title-head-size));
    padding : calc(var(--title-head-size)*3/4);
    background-color: var(--header);
    border-radius: 0px 0px calc(var(--title-head-size)/2) calc(var(--title-head-size)/2);
}

#Tarifs .bottom div > .title{
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

#Tarifs .bottom > div .center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Tarifs .bottom > div .cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    /* grid-auto-flow: column; */
    gap: 30px;
    justify-content: center;
}

#Tarifs .bottom > div .cards .simple{
    grid-column: 2;
}

#Tarifs .bottom > div .cards .complexe{
    grid-column: 3;
}

#Tarifs .bottom > div .cards .custom{
    grid-column: 4;
}

@media screen and (max-width: 1200px) {
    #Tarifs .bottom > div .cards {
        gap: 10px;
    }
    
    #Tarifs .bottom > div .cards .simple{
        grid-column: 1;
    }
    
    #Tarifs .bottom > div .cards .complexe{
        grid-column: 2;
    }
    
    #Tarifs .bottom > div .cards .custom{
        grid-column: 3;
    }
}

@media screen and (max-width: 1024px) {
    #Tarifs .bottom > div .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 800px) {
    #Tarifs .bottom > div .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    #Tarifs .bottom > div .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

#Tarifs .bottom div .cards > div{
    min-height: 300px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
}

#Tarifs .bottom > div .cards > div:hover{
    transform: scale(1.01);
    filter: drop-shadow(0px 0px 8px var(--header-shadow));
}

:root{
    --iron-1: #747578;
    --iron-2: #ffffff;
    --gold-1: #829000;
    --gold-2: #ffff00;
    --diamond-1: #154d8e;
    --diamond-2: #7d98dc;
    --platinium-1: #5e7385;
    --platinium-2: #a4b9fa;
    --karbon-1: #10151e;
    --karbon-2: #310534;
}

@keyframes rotate_background {
    0% {
        background-image: linear-gradient(0deg, #ffffff, rgba(0,0,0,0));
    }
    100% {   
        background-image: linear-gradient(360deg, #ffffff, rgba(0,0,0,0));
    } 
}

#Tarifs .bottom > div .cards .contenant .price{
    padding: 10px 20px;
    margin: 5px;
    border: 3px solid black;
    background: none;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    position: relative;
}

#Tarifs .bottom > div .cards .contenant .price:hover{
    transform: translateY(-0.25em);
}

#Tarifs .bottom > div .cards > div .contenant{
    margin: 5px;
    width: 100%;
    background-color: var(--header);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#Tarifs .bottom > div .cards > div .contenant .title{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

#Tarifs .bottom > div .cards > div .contenant > div ul{
    padding: 40px;
    list-style-type: "✔ ";
}

/* Maintenance */

#Tarifs .bottom .maintenance .cards .iron{
    background: linear-gradient(180deg, var(--iron-1) 0%, var(--iron-2) 100%);
}

#Tarifs .bottom .maintenance .cards .iron:hover{
    background-color: #ffffff;
}

#Tarifs .bottom .maintenance .cards .gold{
    background: linear-gradient(180deg, var(--gold-1) 0%, var(--gold-2) 100%);
}

#Tarifs .bottom .maintenance .cards .diamond{
    background: linear-gradient(180deg, var(--diamond-1) 0%, var(--diamond-2) 100%);
}

#Tarifs .bottom .maintenance .cards .platinium{
    background: linear-gradient(180deg, var(--platinium-1) 0%, var(--platinium-2) 100%);
}

#Tarifs .bottom .maintenance .cards .karbon{
    background: linear-gradient(180deg, var(--karbon-1) 0%, var(--karbon-2) 100%);
}

#Tarifs .bottom .maintenance .cards .iron .contenant .price{
    border-color: var(--iron-1);
}

#Tarifs .bottom .maintenance .cards .iron .contenant .price:hover{
    border-color: var(--iron-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--iron-2);
}

#Tarifs .bottom .maintenance .cards .gold .contenant .price{
    border-color: var(--gold-1);
}

#Tarifs .bottom .maintenance .cards .gold .contenant .price:hover{
    border-color: var(--gold-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--gold-2);
}

#Tarifs .bottom .maintenance .cards .diamond .contenant .price{
    border-color: var(--diamond-1);
}

#Tarifs .bottom .maintenance .cards .diamond .contenant .price:hover{
    border-color: var(--diamond-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--diamond-2);
}

#Tarifs .bottom .maintenance .cards .platinium .contenant .price{
    border-color: var(--platinium-1);
}

#Tarifs .bottom .maintenance .cards .platinium .contenant .price:hover{
    border-color: var(--platinium-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--platinium-2);
}

#Tarifs .bottom .maintenance .cards .karbon .contenant .price{
    border-color: var(--karbon-1);
}

#Tarifs .bottom .maintenance .cards .karbon .contenant .price:hover{
    border-color: var(--karbon-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--karbon-2);
}

/* Bot Discord */

:root{
    --simple-1: #026f00;
    --simple-2: #3deb09;
    --complexe-1: #000456;
    --complexe-2: #017dd0;
    --custom-1: #45043d;
    --custom-2: #b40cb4;
}

#Tarifs .bottom .bot_discord .cards .simple{
    background: linear-gradient(180deg, var(--simple-1) 0%, var(--simple-2) 100%);
}

#Tarifs .bottom .bot_discord .cards .simple .contenant .price{
    border-color: var(--simple-1);
}

#Tarifs .bottom .bot_discord .cards .simple .contenant .price:hover{
    border-color: var(--simple-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--simple-2);
}

#Tarifs .bottom .bot_discord .cards .complexe{
    background: linear-gradient(180deg, var(--complexe-1) 0%, var(--complexe-2) 100%);
}

#Tarifs .bottom .bot_discord .cards .complexe .contenant .price{
    border-color: var(--complexe-1);
}

#Tarifs .bottom .bot_discord .cards .complexe .contenant .price:hover{
    border-color: var(--complexe-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--complexe-2);
}

#Tarifs .bottom .bot_discord .cards .custom{
    background: linear-gradient(180deg, var(--custom-1) 0%, var(--custom-2) 100%);
}

#Tarifs .bottom .bot_discord .cards .custom .contenant .price{
    border-color: var(--custom-1);
}

#Tarifs .bottom .bot_discord .cards .custom .contenant .price:hover{
    border-color: var(--custom-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--custom-2);
}

/* Hebergement */

#Tarifs .bottom .hebergement .cards .simple{
    background: linear-gradient(180deg, var(--simple-1) 0%, var(--simple-2) 100%);
}

#Tarifs .bottom .hebergement .cards .simple .contenant .price{
    border-color: var(--simple-1);
}

#Tarifs .bottom .hebergement .cards .simple .contenant .price:hover{
    border-color: var(--simple-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--simple-2);
}

#Tarifs .bottom .hebergement .cards .complexe{
    background: linear-gradient(180deg, var(--complexe-1) 0%, var(--complexe-2) 100%);
}

#Tarifs .bottom .hebergement .cards .complexe .contenant .price{
    border-color: var(--complexe-1);
}

#Tarifs .bottom .hebergement .cards .complexe .contenant .price:hover{
    border-color: var(--complexe-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--complexe-2);
}

#Tarifs .bottom .hebergement .cards .custom{
    background: linear-gradient(180deg, var(--custom-1) 0%, var(--custom-2) 100%);
}

#Tarifs .bottom .hebergement .cards .custom .contenant .price{
    border-color: var(--custom-1);
}

#Tarifs .bottom .hebergement .cards .custom .contenant .price:hover{
    border-color: var(--custom-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--custom-2);
}

/* Site Web */

#Tarifs .bottom .projet_web .cards .portfolio{
    background: linear-gradient(180deg, var(--iron-1) 0%, var(--iron-2) 100%);
}

#Tarifs .bottom .projet_web .cards .portfolio .contenant .price{
    border-color: var(--iron-1);
}

#Tarifs .bottom .projet_web .cards .portfolio .contenant .price:hover{
    border-color: var(--iron-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--iron-2);
}

#Tarifs .bottom .projet_web .cards .communautaire{
    background: linear-gradient(180deg, var(--gold-1) 0%, var(--gold-2) 100%);
}

#Tarifs .bottom .projet_web .cards .communautaire .contenant .price{
    border-color: var(--gold-1);
}

#Tarifs .bottom .projet_web .cards .communautaire .contenant .price:hover{
    border-color: var(--gold-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--gold-2);
}

#Tarifs .bottom .projet_web .cards .ecommerce{
    background: linear-gradient(180deg, var(--diamond-1) 0%, var(--diamond-2) 100%);
}

#Tarifs .bottom .projet_web .cards .ecommerce .contenant .price{
    border-color: var(--diamond-1);
}

#Tarifs .bottom .projet_web .cards .ecommerce .contenant .price:hover{
    border-color: var(--diamond-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--diamond-2);
}

#Tarifs .bottom .projet_web .cards .jeux{
    background: linear-gradient(180deg, var(--platinium-1) 0%, var(--platinium-2) 100%);
}

#Tarifs .bottom .projet_web .cards .jeux .contenant .price{
    border-color: var(--platinium-1);
}

#Tarifs .bottom .projet_web .cards .jeux .contenant .price:hover{
    border-color: var(--platinium-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--platinium-2);
}

#Tarifs .bottom .projet_web .cards .autre{
    background: linear-gradient(180deg, var(--karbon-1) 0%, var(--karbon-2) 100%);
}

#Tarifs .bottom .projet_web .cards .autre .contenant .price{
    border-color: var(--karbon-1);
}

#Tarifs .bottom .projet_web .cards .autre .contenant .price:hover{
    border-color: var(--karbon-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--karbon-2);
}

/* Contact */

#Contact{
    margin: var(--margin);
    /* background-color: red; */
    height: calc(100vh - calc(var(--margin)*2));
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: calc(var(--header-size)/2);
    filter: drop-shadow(0px 0px 4px var(--header-shadow));
}

#Contact .top{
    height: calc(var(--title-size)*2 + var(--margin));
    display: flex;
}

#Contact .top div{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#Contact .top .middle{
    margin: 0 0 var(--margin) 0;
    background-color: var(--main);
    border-radius: 0 0 calc(var(--title-size)/2) calc(var(--title-size)/2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#Contact .top .left .left_top{
    background-color: var(--main);
    border-radius:  calc(var(--title-size)/2) 0 0 calc(var(--title-size)/2);
    position: relative;
}

#Contact .top .left .left_top::before{
    content:'';
    position: absolute;
    width: var(--title-size);
    height: var(--title-size);
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    border-radius: 100%;
    box-shadow: calc(var(--title-size)/2) -25px 0px 0px var(--main);
    z-index: -1;
}

#Contact .top .left .left_bottom{
    margin: var(--margin) var(--margin) 0 0;
    height: var(--title-size);
    background-color: var(--main);
    border-radius: calc(var(--title-size)/2) calc(var(--title-size)/2) 0 0;
    position: relative;
}

#Contact .top .left .left_bottom::before{
    content:'';
    position: absolute;
    width: var(--title-size);
    height: var(--title-size);
    right: 0;
    top: 0;
    transform: translate(100%);
    border-radius: 100%;
    box-shadow: -25px calc(var(--title-size)/2) 0px 0px var(--main);
    z-index: -1;
}

#Contact .top .right .right_top{
    background-color: var(--main);
    border-radius:  0 calc(var(--title-size)/2)calc(var(--title-size)/2) 0;
    position: relative;
}

#Contact .top .right .right_top::before{
    content:'';
    position: absolute;
    width: var(--title-size);
    height: var(--title-size);
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    border-radius: 100%;
    box-shadow: -25px -25px 0px 0px var(--main);
    z-index: -1;
}

#Contact .top .right .right_bottom{
    margin: var(--margin) 0 0 var(--margin);
    height: var(--title-size);
    background-color: var(--main);
    border-radius: calc(var(--title-size)/2) calc(var(--title-size)/2) 0 0;
    position: relative;
}

#Contact .top .right .right_bottom::before{
    content:'';
    position: absolute;
    width: var(--title-size);
    height: var(--title-size);
    left: 0;
    bottom: 0;
    transform: translate(-100%);
    border-radius: 100%;
    box-shadow: calc(var(--title-size)/2) calc(var(--title-size)/2) 0px 0px var(--main);
    z-index: -1;
}

#Contact .bottom{
    height: calc(100% - calc(var(--title-size)*2) - var(--margin));
    border-radius: 0px 0px calc(var(--title-size)/2) calc(var(--title-size)/2);
    display: flex;
    gap: var(--margin);
}

#Contact .bottom .left{
    flex: 1;
    background-color: var(--main);
    border-radius: 0 calc(var(--title-size)/2) calc(var(--title-size)/2) calc(var(--title-size)/2);
    height: 100%;
}

#Contact .bottom .right{
    flex: 1;
    background-color: var(--main);
    border-radius: calc(var(--title-size)/2) 0 calc(var(--title-size)/2) calc(var(--title-size)/2);
    height: 100%;
}

#Contact .name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

@media screen and (max-width: 700px) {
    #Contact .name{
        font-size: 20px;
    }  
}

#Contact > div .informations{
    margin: calc(var(--margin)*2);
}

@media screen and (max-width: 700px) {
    #Contact > div .informations{
        margin: var(--margin);
    }  
}

#Contact > div .informations a {
    text-decoration: none;
    color: #dddddd;
    display: flex;
}

#Contact > div .informations a > div{
    padding: 10px 20px;
    margin: 5px;
    border: 3px solid black;
    background: none;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    position: relative;
    text-align: center;
}

#Contact > div .informations a > div:nth-child(1){
    flex: 1;
}

@media screen and (max-width: 900px) {
    #Contact > div .informations a > div {
        font-size: 10px;
    }   
}

#Contact > div .informations a > div:hover{
    transform: translateY(-0.25em);
}

#Contact > div .informations a .github{
    border-color: var(--karbon-1);
}

#Contact > div .informations a .github:hover{
    border-color: var(--karbon-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--karbon-2);
}

#Contact > div .informations a .linkedin{
    border-color: var(--complexe-1);
}

#Contact > div .informations a .linkedin:hover{
    border-color: var(--complexe-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--complexe-2);
}

#Contact > div .informations a .mail{
    border-color: var(--custom-1);
}

#Contact > div .informations a .mail:hover{
    border-color: var(--custom-2);
    box-shadow: 0 0.5em 0.5em -0.4em var(--custom-2);
}

@media screen and (max-width: 1024px) {
    #Contact .top .middle {
        font-size: 30px;
    }
    
}

/* Footer */

footer{
    margin: var(--margin) var(--margin) 0 var(--margin);
    /* height: calc(var(--margin)); */
    background-color: var(--header);
    height: calc(var(--header-size)/1.5);
    border-radius: calc(var(--header-size)/3) calc(var(--header-size)/3) 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 4px var(--header-shadow));
}